

.paragrafo1{
    color: black;
    padding-top: 10px;
    background-color:none;
}
.michelle{
    color: red;
}
.paragrafo2{
    color: black;
}
.dias{
    color: rgb(39, 137, 170);
    font-style: italic;
}
.autoestima{
    text-align: left;
}
.paragrafo3{
    color: black;
}
.paragrafo4{
    color: black;
}
.paragrafo5{
    color: black;
}
.paragrafo6{
    color: black;
}